.bcm-template-filtering-wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 3px;
}
.continents-wrap {

}	
.flowers-wrap{
    flex: 1 0 300px;
    margin: 0 12.5px;
}	
.flowers-content {
    position: relative;
    transform: translate3d(0,0,0);
    box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.15);
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
}
.bcm-demo-cat-search-wrapper{
    display: flex;
    align-items: center;
    padding: 0.45em;
    border: 1px solid;
    border-color: #dfdfdf;
    border-radius: 0.35em;
    transition: border-color .2s cubic-bezier(.21,.6,.35,1);
    margin-bottom: 30px;  
}
.bcm-demo-cat-search-icon {
    fill: #dfdfdf;
    flex: 1 0 1em;
    padding: 0 0.25em;
    box-sizing: content-box;
}
.bcm-demo-cat-search-wrapper .bcm-demo-cat-search {
    margin: 0;
    padding: 0 .25em;
    width: 100%;
    height: 2em;
    font-size: 1em;
    border: none;
    background-color: transparent;
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
}
.flowers-wrap p {
    font-size: 1.6em;
    line-height: 1.4;
    margin-bottom: 20px;
}
.flowers-wrap input[type=checkbox] {
    display: initial;
    width: 17px;
    height: 17px;
    margin-right: 5px;
}
.flowers-wrap label {
    display: block;
    font-size: 1.3em;
    font-family: inherit;
    color: inherit;
    font-weight: inherit;
    cursor: pointer;
    margin-bottom: 10px;
}
.flowers {
    display: grid;
    align-content: start;
    justify-content: start;
    flex: 1;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    grid-gap: 25px;
    padding: 0 12.5px;
    flex: 1 1 calc(100% - 325px);
}
.flowers div.flower[style="display: none;"] {
    opacity: 0;
    transform: translateY(40px);
}
.flowers div.flower {
  opacity: 1;
  transition: opacity .3s cubic-bezier(.21,.6,.35,1),transform .3s cubic-bezier(.21,.6,.35,1);
}
.bcm-template-thumb {
    border-radius: 10px;
    position: relative;
}

.bcm-template-thumb img {
    position: relative;
    min-height: 200px;
    transition: transform .3s cubic-bezier(.21,.6,.35,1),box-shadow .3s cubic-bezier(.21,.6,.35,1);
    border-radius: 10px;
}
/*.bcm-template-thumb:hover img {
    transform: scale(.8);
    box-shadow: 0 20px 25px rgba(0,0,0,.25);
}*/
.bcm-template-thumb .bcm-link-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: background .2s;
}
.bcm-template-thumb:hover .bcm-link-container{
    background: #00000060;
}
.bcm-template-thumb .bcm-link-container a {
    width: 100%;
    height: 100%;
    line-height: 40px;
    border-radius: 100px 100px 100px 100px;
    background: #ffffff00;
    margin: 0px;
    box-sizing: border-box;
    border-width: 0px;
    box-shadow: none;
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 0;
    opacity: 0;
    text-align: center;
    -webkit-backface-visibility: hidden;
    transition: opacity .3s;
    pointer-events: initial;
}

.bcm-template-thumb .bcm-link-container a>svg {
    fill: #fff;
    width: 40px;
    height: auto;
    position: relative;
    z-index: 2;
    align-self: center;
    transition: fill .3s;
}

.bcm-template-thumb:hover a.project-details{
    opacity: 1;
}
.bcm-template-details-wrappre {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin: 1.3em 1em 0 1em;
}

.bcm-template-details-wrappre .bcm-template-details{
    margin: 0 .5em;
    min-width: 0;
}

.bcm-template-details-wrappre .bcm-template-details .template-title {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.3em;
    font-weight: 700;
    color: inherit;
}

.bcm-template-details-wrappre .bcm-template-details .template-meta {
    opacity: .6;
    color: inherit;
}