body.login {}
body.login div#login {
    width: 500px;
}
body.login div#login h1 {}
body.login div#login h1 a {}
body.login div#login form#loginform
body.login div#login form#lostpasswordform {
    padding: 50px 40px;
    background: #12121c;
    color: #fff;
    border-radius: 12px;
}
body.login div#login form#loginform p {}
body.login div#login form#loginform p label,
body.login div#login form#lostpasswordform p label {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 10px;
}
body.login div#login form#loginform input {}
body.login div#login form#loginform input#user_login,
body.login div#login form#lostpasswordform input#user_login {
    height: 52px;
}
body.login div#login form#loginform input#user_pass {
    height: 52px;
}
.user-pass-wrap Label {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 10px;
}
.login .button.wp-hide-pw {
    color: #ffa500;
    min-width: 50px;
    min-height: 50px;
}
body.login div#login form#loginform p.forgetmenot {}
body.login div#login form#loginform p.forgetmenot input#rememberme {}
body.login div#login form#loginform p.submit {}
body.login div#login form#loginform p.submit input#wp-submit,
body.login div#login form#lostpasswordform p.submit input#wp-submit {
    float: none;
    width: 100%;
    height: 45px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.4;
    background: #ffa500;
    color: #12121c;
    border: 1px solid #ffa500;
}
body.login div#login p#nav {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}
body.login div#login p#nav a {}
body.login div#login p#backtoblog {
	display: none;
}
body.login div#login p#backtoblog a {}